<link href="css/register.css" rel="stylesheet">

<ion-view ng-cloak title="settings" ng-controller="RegisterController">
	<ion-pane class="contentPane">
		<img id="applogo" ng-src="img/hoardlogo.png"></img>
		<center><h1 id="appname">register to hoard</h1></center>
		
		<form id="signin-form" ng-class='{error:errorMessage != null}' ng-hide="hidSignIn == true">
			<div class="list list-inset">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Email Address</span>
					<input ng-model="email" type="text" placeholder="example@example.example" name="email">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Password</span>
					<input ng-model="password" type="password" placeholder="password" name="password">
				</label>
			</div>
			
			<center>
				<div style="background:none;" class="list list-inset">
					<div class="row">
						<div ng-hide="errorMessage == null" style="margin-left: auto; margin-right: auto;" class="ui error message">
							{{errorMessage}}
						</div>
					</div>
					<button id="signin-submit" ng-click="registerUser()" type="submit" class="ui large green button">
						<i class="checkmark icon" style="margin-left: auto; margin-right: auto;"></i>
					</button>
					<button class="ui white small button" ng-click="viewLogin()">
						RETURN TO SIGN IN
					</button>
				</div>
			
				<div class="col">
					<button class="ui small white button" ng-click="viewRecoverPassword()">
						RECOVER PASSWORD
					</button>
				</div>
			</center>
		</form>
	</ion-pane>
</ion-view>